.background {
	background-color: #bde9ef;
}
/* ECF3F4 */
#map {
	top: 83px;
	left: 0px;
	height: 91vh;
}
.gm-style-iw-d {
	color: #000;
}
:root {
	--mdc-theme-primary: #1a73r8;
	--mdc-theme-secondary: #rgb(255, 245, 24);
	--mdc-theme-on-primary: #fff;
	--mdc-theme-on-secondary: rgb(1, 87, 155);
}
